:root{
    --dark-orange:#244d9d;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
}

*{margin:0; padding:0; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{ font-weight: 700;}
html{overflow-x: hidden;}
html.sidebar-open{overflow: hidden;}
body{ font-weight: 400; letter-spacing: 0.5px; color:#000; overflow: hidden; }
a,
a:hover,
a:focus,
a:active{color:#000; text-decoration: none;}

ol,
ul{margin:0; padding:0;}
figure{margin:0;}

.btn,
.btn:hover,
.btn:focus,
.btn:active{box-shadow:none;}

.btn{border-radius: 0; padding:8px 25px; text-transform: uppercase; font-size:14px;}

.dark_btn{background:var(--dark-orange); color:#fff!important;}
.dark_btn .icon{filter:invert(1); margin-right:5px;}

.form-control{min-height:46px; border-radius: 0;}

input::placeholder,
.form-control::placeholder{font-weight: 300; font-size:14px; letter-spacing: 0.5px;}

.form-group{margin-bottom:15px;}
.sub_heading{color:var(--dark-orange)!important; text-transform: uppercase; font-size: 18px; letter-spacing: 1px; position:relative; font-weight: 500; text-align: center;}
.sub_heading.left{padding-left:40px; text-align: left;}
.sub_heading:before{position:absolute; content:''; height:2px; background:var(--dark-orange); top:50%; transform:translateY(-50%);}
.sub_heading.left:before{width:30px; left:0;}
.heading{font-size: 48px; font-weight: 600; letter-spacing: 0.5px; margin-bottom:50px;}
.heading.center{text-align: center;}

.mx_-30{margin-left:-30px!important; margin-right:-30px!important;}
.mx_-80{margin-left:-80px!important; margin-right:-80px!important;}
.my_15{margin-top:15px!important; margin-bottom:15px!important;}
.px_30{padding-left:30px!important; padding-right:30px!important;}
.px_80{padding-left:80px!important; padding-right:80px!important;}
.mb_15{margin-bottom:15px!important;}
.mb_30{margin-bottom:30px!important;}


/* header */

.navbar {padding:0; background: #F4F4F4; position:fixed; top:0; left:0; width:100%; z-index: 99;}
.navbar .navbar-brand{padding:0;margin:0;max-width: 180px;}
/* .navbar .navbar-toggler{background:var(--dark-orange); height:45px; width:45px; display:flex; align-items: center; justify-content: center;} */
.navbar .navbar-toggler{padding:0; outline:none;}
.navbar .navbar-toggler img{max-width: 28px;}
.navbar .navbar-collapse{justify-content: flex-end;}
.navbar .navbar-collapse .top,
.navbar .navbar-collapse .bottom{display:none;}
.navbar .nav-link{padding: 20px 20px!important; height: 85px; display: flex; align-items: center; justify-content: center; font-size:15px; font-weight: 500;}
.navbar .nav-item.active .nav-link{background:var(--dark-orange); color:#fff;}

/* banner section */
.form-control{
    font-weight: 500;
}
.banner-section{padding-top:85px; min-height:100vh; position:relative; display: inline-grid; overflow:hidden;}
.banner-section > div{height:100%}
.banner-section:before{position:absolute; content:''; height:100%; top:0; left:0; width:30%; background:#eef4ff;}
.banner-section .left_col{max-width:40%; flex:0 0 40%; padding-top: 70px; padding-right: 0;}
/* .banner-section div{height:100%;} */
.banner-section .carousel-item img{height:100%; object-fit: cover;}

.banner-section .call_number{display:flex; justify-content: flex-end;}
.banner-section .call_number .icon{height:80px; width:80px; background: var(--dark-orange); display: flex; align-items: center; justify-content: center;}
.banner-section .call_number .number{display: flex; align-items: center; justify-content: center; padding: 0 30px; font-weight: 400; letter-spacing: 1px; font-size: 22px; background: #F4F4F4;}
.banner-section .carousel{height:calc(100% - 0px); width:100%;}
.banner-section .carousel .carousel-inner,
.banner-section .carousel .carousel-inner div{height:100%;}
.banner-section .carousel_btns {
    position: absolute;
    bottom: 82px;
    right: 3px;
    z-index: 1;
    display: flex;
}

button.btn.dark_btn {
    margin-top: 15px;
}

button.btn.dark_btn.my-btn {
    -webkit-animation: Gradient 3s ease infinite;
    animation-delay: 2s;
    -moz-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;
    background: linear-gradient(-45deg,#244d9d,#7fa1e4, #072560,#09307b);
    background-size: 400% 400%;
}

@-webkit-keyframes Gradient {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@keyframes Gradient {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

.banner-section .carousel_btns button{position:relative; height:80px; width:80px; opacity: 1;}
.banner-section .carousel-control-prev{background:var(--dark-orange);}
.banner-section .carousel-control-next{background:#F4F4F4;}
.banner-section .carousel_btns img{max-width: 25px;}

.banner-section .right_col{max-width:60%; flex:0 0 60%; padding-left: 0px; display: flex; flex-wrap: wrap; align-items: flex-end; width: 100%;}
.banner-section .right_col div{height:auto;}
.banner-section .right_col .top{display:flex; align-items: center; width: 100%; padding: 20px 0;}
.banner-section .top .contents{width:calc(100% - 400px); padding-left: 70px;}
.banner-section .contents .project_logo{margin-bottom: 9px;}
.banner-section .form_col .form{background: #F4F4F4; padding: 50px; max-width: 350px;}
.banner-section .form_col .form_heading{font-size: 28px; line-height: 36px; margin-bottom:20px; font-weight: 600;}
.banner-section label{font-size:14px; font-weight: 400;}
.banner-section .form [type=submit]{width: 100%; font-size: 14px; letter-spacing: 0.5px; padding: 10px 15px; height: 50px;}

.banner-section .project_name span{
    display: block;
    font-size: 24px;
}
.banner-section .project_name{margin: 25px 0 0;font-size: 42px;font-weight: 600;}
.banner-section .typo{margin:0; margin-top:15px; font-size: 20px; font-weight: 500; text-transform: uppercase;}
.banner-section .unit{margin:0; margin-top:15px; font-size: 16px; font-weight: 500; width: max-content; padding: 4px 10px; background: #ebebeb;}
.banner-section .unit .strike{text-decoration: line-through; color: red;}
.banner-section .price{margin: 5px 0 20px;font-size: 38px;color:var(--dark-orange);font-weight: 600;}
.banner-section .add{margin:0; padding-left:20px; margin-top: 30px;} 
.banner-section .add li{margin-bottom:5px; font-size:15px; font-weight: 400; list-style-type: circle;}

.banner-section .bottom{padding: 30px 30px 30px 30px; background:var(--dark-orange); width: 100%;}
.banner-section .other-points{display: flex; align-items: center;}
.banner-section .other-points li{display: flex; align-items: center;}
.banner-section .other-points li:not(:last-child){margin-right:50px;}
.banner-section .other-points .icon{height:65px; width:65px; display: flex; align-items: center; justify-content: center; background: rgb(255 255 255 / 30%);}
.banner-section .other-points .icon img{filter:invert(1)}
.banner-section .other-points .content{margin-left:15px;}
.banner-section .other-points p{margin: 0; font-size: 20px; font-weight: 500; color:#fff; letter-spacing: 1px;}
.banner-section .other-points .title{margin:0; font-size: 15px; font-weight: 400;}

/* overview */

.overview-section{padding:100px 0; /*background:url('../images/overview-bg.png') no-repeat center center; background-size:cover;*/}
.overview-section .heading{margin-bottom: 30px;}
.overview-section .left_col{max-width:45%; flex:0 0 45%}
.overview-section .left_col p{font-weight: 400; line-height:26px; color:#333;}
.overview-section .addHigh{position: absolute; left: calc(100% + 60px); bottom: 30px; z-index: 1; width: max-content;}
.overview-section .addHigh li{display:flex; flex-wrap:wrap; background:#E7E7E7; padding: 20px 30px; align-items: center;}
.overview-section .addHigh li.dark{background:var(--dark-orange); color:#fff;}
.overview-section .addHigh li.dark p{color:#fff;}
.overview-section .addHigh li:not(:last-child){margin-bottom:20px;}
.overview-section .addHigh .icon{margin-right:15px;}
.overview-section .addHigh h4{margin:0; font-size: 24px; font-weight: 700;}
.overview-section .addHigh p{margin:0;}

.overview-section .otherImages{display: flex; justify-content: space-between; margin-top: 40px; z-index: 1;}
.overview-section .otherImages figure{max-width:calc(50% - 15px); height: 180px;}
.overview-section .otherImages img{object-fit: cover; height:100%; width:100%;}

.overview-section .right_col{padding-left:150px; max-width:55%; flex:0 0 55%}
.overview-section figure{position:relative; width:100%; height:100%;}
.overview-section .overviewImg{height:100%; object-fit: cover; position:absolute;}

/* highlight section */

.highlight_section{padding:100px 0; position:relative; background:url('../images/highlights_bg.jpg') center center; background-size:cover;}
.highlight_section:after{position:absolute; content:''; height:100%; width:30%; background:var(--dark-orange); left:0; top:0; z-index: 1;}
.highlight_section:before{position:absolute; content:''; height:100%; width:100%; background:rgb(217 217 217 / 40%); left:0; top:0;}
.highlight_section .left_col{position: relative; z-index: 9;}
.highlight_section .left_col img{height:100%; object-fit: cover; object-fit: cover;}
.highlight_section .single{background:#fff; padding: 30px; text-align: center; height:100%;}
.highlight_section .single .icon{max-width:55px;}
.highlight_section .single p{margin:0; font-size:14px; font-weight: 400; margin-top:15px; line-height: 18px;}

/* price section */

.price_section{padding:100px 0;}
.price_section .amenities{list-style-type:none; display:flex; flex-wrap:wrap; margin-bottom:50px;}
.price_section .amenities .dot{height:22px; width:22px; background:#000; display:block; border-radius: 50%; position:relative; z-index: 1; transition:all 300ms ease-in-out}
.price_section .amenities .dot:before{position:absolute; content:''; height:10px; width:10px; display:block; background:#fff; border-radius: 50%; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
.price_section .amenities .active .dot,
.price_section .amenities li:hover .dot{background:var(--dark-orange); transition:all 300ms ease-in-out}
.price_section .amenities .circle{margin: 25px 0 10px; position: relative;}
.price_section .amenities .circle:after{position:absolute; content:''; height:1px; width:100%; border-bottom:1px solid rgba(0 0 0 / 20%); top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transition:all 300ms ease-in-out}
.price_section .amenities .active .circle:after,
.price_section .amenities li:hover .circle:after{border-color:var(--dark-orange);}
.price_section .amenities p{font-size: 18px; font-weight: 500; margin: 0; transition:all 300ms ease-in-out}
.price_section .amenities .single{ display:inline-block;}
.price_section .amenities li{max-width:33.33%; flex:0 0 33.33%; position:relative; margin: 20px 0;}
.price_section .amenities .icon img{max-width:55px; opacity: 0.85;}
/* .price_section .amenities li img.yellowIcon,
.price_section .amenities li.active img,
.price_section .amenities li:hover img{display:none;} */
/* .price_section .amenities li.active img.yellowIcon,
.price_section .amenities li:hover img.yellowIcon{display:block; opacity:1;}
.price_section .amenities li.active p,
.price_section .amenities li:hover p{color:var(--dark-orange); transition:all 300ms ease-in-out} */
/* .price_section .amenityImg{max-height: 450px; width: 100%; object-fit: cover;} */

.price_section .price_lists{display: inline-block;}
.price_section .price_lists li{background:#f3f3f3;position:relative;display:flex;height: 207px;}
.price_section .price_lists li:not(:last-child){margin-bottom:20px;}
.price_section .price_lists p{margin:0;}
.price_section .price_lists .size{background:var(--dark-orange); writing-mode: vertical-rl; transform: rotate(180deg); position: absolute; top: 0; left: 0; bottom: 0; width:50px; color: #fff; display: flex; align-items: center; justify-content: center; font-weight: 400; letter-spacing: 2px; padding:10px; font-size: 17px} 
.price_section .price_lists .cont{padding: 30px 30px 30px 80px;width:100%;display: flex;
flex-wrap: wrap;position: relative;} 
.price_section .price_lists .l{width:100%;}
.price_section .price_lists .icon{margin-bottom: 10px; display: flex; align-items: center;}
.price_section .price_lists .icon img{max-width:20px;}
.price_section .price_lists .price{font-size: 30px;font-weight: 600;color: #111;margin-top: 15px;}
.price_section .price_lists .typo{font-size: 18px; font-weight: 400; color: #333;}
.price_section .price_lists .btn{font-size: 12px; padding: 0px 12px; letter-spacing: 0.5px;}
.price_section .price_lists .cont .patch{position: absolute;top: -60px;right: 0;}
.price_section .price_lists .cont .patch img{width: 200px;}

/* amenity section */

/* .amenity_section{padding-bottom:0;} */
.amenity_section .amenityImg{height:100%; width:100%; object-fit: cover;}

/* floor plan section */

.floorPlan_section .container{/*margin-right: 0; max-width: 100%; margin-left: 10%;*/}
.floorPlan_section{background:#f4f4f4; position: relative; overflow: hidden;}
.floorPlan_section:before{position:absolute; content:''; top:0; left:0; height:100%; width:100%; background:url('../images/bg_pattern.png');}
/* .floorPlan_section:after{} */
.floorPlan_section .left_col{padding:100px 15px;}
.floorPlan_section .right_col .image_col{background:url('../images/bg.jpg') no-repeat 200px center; background-attachment: fixed; height: 100%; position: absolute; width: 40vw; top: 0; bottom: 0;}
.floorPlan_section .fp_col{margin-bottom:80px}
.floorPlan_section .fp_col h4{text-align: center; margin: 0; font-size: 24px; font-weight: 600; background: transparent; padding: 10px; transition:all 300ms ease-in-out;}
.floorPlan_section .fp_col:nth-child(2),
.floorPlan_section .fp_col:nth-child(5),
.floorPlan_section .fp_col:nth-child(8){transform:translateY(25px);}
.floorPlan_section .fp_col:nth-child(3),
.floorPlan_section .fp_col:nth-child(6),
.floorPlan_section .fp_col:nth-child(9){transform:translateY(50px);}
.floorPlan_section .fp_col .box{position:relative; transition:all 300ms ease-in-out;}
.floorPlan_section .fp_col .box:before{position:absolute; content:''; height:25px; width:2px; background:rgba(0 0 0 / 50%); top:100%; left:50%; transform:translateX(-50%); transition:all 300ms ease-in-out;}
.floorPlan_section .fp_col .box:hover{box-shadow: 0 10px 15px rgb(0 0 0 / 15%);}
.floorPlan_section .fp_col .box:hover:before{height:40px;}
.floorPlan_section .fp_col .box:hover h4{background: var(--dark-orange); color:#fff;}
.floorPlan_section .image{border: 3px solid rgba(0 0 0 / 10%); display: inline-block; position: relative;}
/* .floorPlan_section .image img{filter:blur(3px);} */
.floorPlan_section .image .btn{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); font-size: 12px; padding: 6px 12px; opacity:0.8}
.floorPlan_section .image:hover .btn{opacity:1;}

/* location section */

.location_section{padding:80px 0; position:relative;}
.location_section:before{position:absolute; content:''; height:100%; width:calc(40% + 10px); background:var(--dark-orange); top:0; left:0;}

.location_section .left_col{padding-right: 70px; max-width:40%; flex:0 0 40%; display: flex; align-items: center;}
.location_section .left_col ul{width: 100%;}
.location_section .adv-points li{display:flex; align-items: center; padding:12px 0;}
.location_section .adv-points li:not(:last-child){border-bottom: 1px dashed rgba(255 255 255 / 20%);}
.location_section .adv-points .icon{ height:48px; width:48px; display:flex; align-items: center; justify-content: center; margin-right: 20px; border:3px solid rgba(255 255 255 / 50%);}
.location_section .adv-points img{filter:invert(1); max-width: 28px;}
.location_section .adv-points p{margin:0; color:#fff; font-size:18px;     font-weight: 500; width:calc(100% - 90px); position: relative;}
/* .location_section .adv-points p:before{position:absolute; content:''; height:2px; width:50px; background:rgba(255 255 255 / 50%);} */

.location_section .right_col{padding:0 70px; max-width:60%; flex:0 0 60%;}
.location_section .right_col .mapImage{border-radius: 10px; }

/* gallery section */

.gallery_section{padding:100px 0;}
.masonry { columns: 2; column-gap: 30px; }
.masonry .grid { display: inline-block; margin-bottom: 30px; position: relative; width:100%;}
/* .masonry .grid:before { border-radius: 5px; content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.2); } */
.masonry .grid img { width: 100%; border-radius: 10px; border: 8px solid rgba(0 0 0 / 10%); }
.masonry .grid__title { font-size: 28px; font-weight: bold; margin: 0px 0px 10px 0px; }
.masonry .grid__author { font-size: 14px; font-weight: 300; }
.masonry .grid__link { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.masonry .grid__body { position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding: 30px 30px; color: #fff; display: flex; flex-direction: column; }
.masonry .grid__tag { background-color: rgba(255, 255, 255, 0.8); color: #333; border-radius: 5px; padding: 5px 15px; margin-bottom: 5px;}

/* footer_top section */

.footer_top{padding:0px 0; position: relative; margin-top: 70px; z-index: 1;}
.footer_top .heading{font-size: 50px; margin-bottom: 40px;}
.footer_top .left_col{position:unset; padding-top: 0px; padding-bottom: 140px; display: flex; align-items: center;} 
.footer_top .builderImage{position: absolute; left: 0; top: -70px; height: 100%; width: 50%; object-fit: cover;}
.footer_top .builderContent{position: relative; background:rgb(255 255 255 / 90%); padding:50px; text-align: center;}  
.footer_top .builderContent p{font-weight: 400; line-height: 26px; color: #333; font-size: 14px;}
.footer_top .builderContent .heading{margin-bottom:30px;}

.footer_top .right_col{padding-top:80px; padding-bottom:80px; position:unset; color: #fff;}
.footer_top .dark_bg{background:#232323; position:absolute; content:''; right:0; top:0; height:100%; width:60%; z-index: -1;}
.footer_top .dark_bg:before{position:absolute; content:''; height:100%; width:100%; background:url('../images/builderform_bg.png') repeat;}
.footer_top .form-group{margin-bottom:20px;}
.footer_top button[type=submit]{height: 46px; margin-top:5px;}

/* footer */

footer{background: #244d9d;color:#f3f3f3;padding-top:100px;padding-bottom:20px;margin-top: -70px;text-align: center;}
footer p{margin:0; font-size:14px; font-weight: 300;}
footer p a{font-weight: 400; color:#fff!important;}

#back_to_top{display: inline-block; background-color: var(--dark-orange); width: 50px; height: 50px; text-align: center; border-radius: 4px; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000; display:flex; align-items: center; justify-content: center; cursor: pointer;}
#back_to_top.show{opacity: 1; visibility: visible;}
#back_to_top img{filter:invert(1); max-width:35px;}

.backdrop{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0 0 0 / 50%); z-index: 999; opacity:0; visibility: hidden; transition:all 200ms ease-in-out;} 
.sidebar-open .backdrop{opacity:1; visibility: visible;}

/* modal */

.modal-content{border-radius: 0;}
.modal-body{padding:40px; border-radius: 0; text-align: center;}
.modal-body .close{position: absolute; right: 10px; top: 10px; font-size: 50px; font-weight: 100; text-shadow: none; height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; opacity:0.4;}
.modal-body .logo{max-width: 160px;}
.modal-body .form-group{text-align: left;}
.modal-body .typo{font-size: 18px; text-transform: uppercase; font-weight: 400; margin:0; margin-top: 15px;}
.modal-body .price{font-size: 32px; font-weight: 600; margin: 0; margin-top: 10px; color:var(--dark-orange)}
.modal-body .form_heading{margin:15px 0; font-weight: 500; font-size: 22px;}

.mobile-section{position:fixed; bottom:0; left:0; width:100%; background: #1a1a1a; display:flex;z-index: 9;}
.mobile-section .btn{padding: 7px 10px; font-size: 12px; text-align: center; flex-grow:1; color: #fff; position: relative;}
.mobile-section .btn:not(:last-child):before{position:absolute; content:''; height:10px; width:1px; background:#fff; right:0; top:50%; transform:translateY(-50%); display:block; }

/* float call */
.float_call{position:fixed; bottom:30px; left:20px; z-index: 999; display: flex; align-items: center; opacity:0; visibility: hidden; transition:all 200ms ease-in-out}
.float_call.show{opacity:1; visibility: visible;}
.float_call .icon{background: #5ea13d;height: 50px;width: 50px;border-radius: 5px;display: inline-flex;align-items: center;justify-content: center;box-shadow: 2px 2px 5px rgb(0 0 0 / 15%);} 
.float_call .icon img{max-width: 24px;}
.float_call .number{ background: #4d4d4d; height: 50px; display: flex; align-items: center; padding: 5px 20px; border-radius: 5px; font-weight: 400; margin-left: 5px; color: #fff; letter-spacing: 1px; font-size: 14px; box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);}

/* responsive */

h4.pricelist_heading_pricelist {
    margin-top:20px;
    margin-bottom: 40px;
    font-size: 32px;
}
img.img-fluid.paymentplan_img {
    position: absolute;
    top: -24%;
    width: 39%;
    right: 16px;
}

.col-sm-12.col-md-4.col-lg-4.mb_30 {
   
    position: relative;
}
span.price_border {
    width: 53%;
    height: 2px;
    background-color: #f0f0f0;
    display: block;
}
.modal-body h2{

font-size: 34px;
}
.modal-body h2 span{

display: block;

font-size: 18px;
}

@media(min-width:1500px){
    .container{max-width:1460px;}
    /* .floorPlan_section .container{max-width:calc(100% - 730px);} */
}

@media(max-width:1500px){
    
    .form-group {margin-bottom: 10px;}
    .form-control{min-height: 44px;}
    .dark_btn .icon{max-width: 25px;}
    .sub_heading{font-size: 16px;}
    .heading{font-size: 46px; margin-bottom: 40px;}

    .navbar .navbar-brand{max-width: 110px;}
    .navbar .nav-link{height: 80px; font-size: 15px; padding: 20px 15px!important;}

    .banner-section .left_col{padding-top: 30px;}
    .banner-section .call_number .icon{height: 60px; width: 60px;}
    .banner-section .call_number .icon img{max-width:28px;}
    .banner-section .call_number .number{font-size: 18px;}
    .banner-section .form_col .form{max-width: 300px; padding: 20px;}
    .banner-section .top .contents{width: calc(100% - 320px); padding-left: 40px}
    .banner-section .form_col .form_heading{font-size: 24px; line-height: 34px; margin-bottom: 10px;}
    .banner-section label{font-size: 13px; margin-bottom: 3px;}
    .banner-section .contents .project_logo{max-width: 184px;}
    .banner-section .project_name{font-size: 42px; margin: 15px 0 0;}
    .banner-section .typo{font-size: 20px; margin-top: 13px;}
    .banner-section .price{font-size: 30px; letter-spacing: 0.5px; }
    .banner-section .other-points .title{font-size: 15px;}
    .banner-section .other-points p{font-size: 20px;}
    .banner-section .other-points .icon{height: 55px; width: 55px;}
    .banner-section .other-points .icon img{max-width: 24px;}
    .banner-section .carousel_btns{right: -60px;}
    .banner-section .carousel_btns button{height: 60px; width: 60px;}
    .banner-section .carousel{height: calc(100% - 0px);}
    .banner-section .form textarea{height:44px;}
    .banner-section .form [type=submit]{height: 44px; font-size: 13px;}
    .banner-section .bottom{padding: 25px 25px 25px 100px;}
    .banner-section .carousel_btns img{max-width: 20px;}
    .banner-section .btn{padding: 10px 20px;}

    .overview-section .right_col{padding-left: 90px;}
    .overview-section .addHigh{left: calc(100% + 40px);}
    .overview-section .addHigh h4{font-size: 22px;}

    .highlight_section .left_col{flex: 0 0 40%; max-width: 40%; display:flex; align-items: center;}
    .highlight_section .left_col img{height: 100%;}
    .highlight_section .right_col{flex: 0 0 60%; max-width: 60%;}
    .highlight_section .right_col .singleCol{/* max-width:33.33%; *//* flex:0 0 33.33%; */}
    .highlight_section .single .icon{max-width: 50px;}

    .price_section .amenities .icon img{max-width: 50px;}
    .price_section .amenities .circle{margin: 20px 0 10px;}
    .price_section .amenities .dot{height: 18px; width: 18px;}
    .price_section .amenities .dot:before{height: 7px; width: 7px;}
    .price_section .amenities p{font-size: 16px;}
    .price_section .price_lists .size{font-size: 16px; letter-spacing: 1px;}
    .price_section .price_lists .price{font-size: 26px;}

    .floorPlan_section .fp_col h4{font-size: 20px;}

    .location_section .adv-points li{padding:15px 0;}
    .location_section .adv-points p{font-size: 16px;}

    .footer_top .heading{font-size: 36px; margin-bottom: 30px;}

    #back_to_top{width: 45px; height: 45px;}
}

/* end of 1500 */

@media(max-width:1400px){
    .form-group{margin-bottom: 5px;}
    .form-control{min-height: 40px;}
    .form-control::placeholder{font-size:13px;}
    .btn{padding: 10px 20px;}
    .dark_btn .icon {max-width: 23px;}
    .sub_heading{font-size: 14px;}
    .sub_heading.left:before{width: 25px;}
    .sub_heading.left {padding-left: 35px;}
    .heading{font-size: 37px;margin-bottom: 30px;}

    .navbar .nav-link{height: 75px; font-size: 14px; }
    .banner-section .form_col .form{padding:20px; max-width: 280px;}
    
    .banner-section{padding-top: 75px;}
    .banner-section .left_col{padding-top: 20px;}
    .banner-section .right_col .top{padding: 15px 0;}
    .banner-section .form_col .form_heading{font-size: 22px; line-height: 28px;}
    .banner-section label{margin-bottom: 3px; font-size:13px;}
    /* .banner-section .contents .project_logo{max-width: 149px;} */
    .banner-section .project_name{margin: 15px 0 0; font-size: 36px;}
    .banner-section .typo{font-size: 20px; margin-top: 12px;}
    .banner-section .price {font-size: 27px;margin: 1px 0 15px;}
    .banner-section .call_number .icon{height: 55px; width: 55px;}
    .banner-section .call_number .icon img {max-width: 26px;}
    .banner-section .bottom{padding: 30px 30px 30px 120px;}
    .banner-section .carousel{height: calc(100% - 0px);}
    .banner-section .top .contents{width: calc(100% - 300px);}
    .banner-section .other-points .icon{height: 55px; width: 55px;}
    .banner-section .bottom{padding: 20px 20px 20px 120px;}
    .banner-section .carousel_btns button{height: 65px; width: 65px;}
    .banner-section .carousel_btns{bottom: 15px; right: -65px;}
    .banner-section .other-points .title{font-size: 15px;}
    .banner-section .other-points p{font-size: 18px;}
    .banner-section .form [type=submit]{margin-top: 5px; font-size: 12px; height: 40px; padding: 5px 15px;}
    .banner-section .btn{padding: 8px 15px; font-size: 13px;}

    .overview-section,
    .highlight_section,
    .price_section,
    .floorPlan_section .left_col,
    .location_section,
    .gallery_section{padding: 80px 0;}
    .overview-section .addHigh h4{font-size: 20px;}
    .overview-section .addHigh p{font-size: 15px;}
    .overview-section .addHigh li:not(:last-child){margin-bottom: 15px;}

    .highlight_section .single{padding: 20px;}
    .highlight_section .single .icon{max-width: 45px;}
    .highlight_section .single p{font-size: 13px; line-height: 19px;}

    .price_section .amenities .icon img{max-width: 45px;}
    /* .price_section .price_lists .price{font-size: 24px;} */
    .price_section .price_lists .price{font-size: 22px;}
    .price_section .price_lists .typo{ font-size: 16px; line-height: 20px;}

    .footer_top .builderContent .heading{margin-bottom: 25px;}

    #back_to_top img{max-width: 30px;}
    .price_section .price_lists .cont .patch img{width: 140px;}
    .price_section .price_lists .cont .patch{top: -40px;}

}

@media(max-width:1280px){
.price_section .price_lists .cont .patch img{width: 140px;}
}

/* end of 1400px */

@media(max-width:1199px){

    .navbar{padding: 12px 0;}
    .navbar .navbar-toggler{display:block!important;}

    .navbar .navbar-collapse{display:block; position: absolute; left: -400px; top: 0; width: 100%; max-width:400px; height: 100vh; background: #fff; padding: 50px; z-index: 9999; transition:all 400ms ease-in-out} 
    .navbar .navbar-collapse.show{left:0;}
    .navbar .navbar-collapse .nav-link{height:auto; justify-content: flex-start; font-size:16px; font-weight: 300;}
    .navbar .navbar-collapse .top{display:flex; align-items: center; margin-bottom: 20px; position:relative;}
    .navbar .navbar-collapse .top:before{position:absolute; content:''; height:1px; bottom:-20px; left:0; width:100%; background:rgba(0 0 0 / 08%);}
    .navbar .navbar-collapse .top .logo{max-width: 110px;}
    .navbar .navbar-collapse .top .close{margin-left: auto; font-size: 40px; font-weight: normal; text-shadow: none;}
    .navbar .navbar-collapse .nav-item{margin-bottom:5px;}
    
    .banner-section .top .contents {width: calc(100% - 270px); padding-left: 30px;}
    .navbar .navbar-collapse .bottom{display:flex; align-items: center;}
    .navbar .navbar-collapse .bottom p{margin:0; font-size: 14px;}
    .navbar .navbar-collapse .navbar-nav{height:calc(100vh - 100px - 160px); margin: 20px 0; overflow: auto; display:inline-block; width:100%;}
    .banner-section .form_col .form{max-width: 250px;}
    .banner-section .contents .project_logo{max-width: 130px;}
    .banner-section .project_name{font-size: 35px;}
    .banner-section .typo{font-size: 18px;}
    .banner-section .price{font-size: 30px; line-height: 35px;}

}

/* end of 1199px */

@media(max-width:991px){

    .d_md_none{display:none!important;}
    .d_md_block{display:block!important;}
    .d_md_flex{display:flex!important;}
    .px_md_50{padding-left:50px!important; padding-right:50px!important;}
    .px_md_30{padding-left:30px!important; padding-right:30px!important;}
    .mx_md_-50{margin-left:-50px!important; margin-right:-50px!important;}
    .mx_md_-30{margin-left:-30px!important; margin-right:-30px!important;}

    .banner-section .left_col{padding-top: 0px; display: flex; flex-wrap: wrap;}
    .banner-section .left_col,
    .banner-section .right_col{max-width: 100%; flex: 0 0 100%}
    .banner-section .carousel{order:1; height:auto;}
    .banner-section .call_number{order:2; justify-content: flex-start; margin-bottom: 20px;}
    .banner-section .carousel_btns{right: 15px;}
    .banner-section .top .contents{padding-left: 40px; padding-right: 40px;}
    .banner-section .call_number .icon{height: 50px; width: 50px;}
    .banner-section .call_number .number{padding: 0 20px; font-size: 18px;}
    .banner-section .call_number .icon img{max-width: 26px;}

    .overview-section .left_col,
    .overview-section .right_col{max-width: 100%; flex: 0 0 100%;}
    .overview-section .overviewImg{position:relative; object-fit: unset;}
    .overview-section .right_col{padding:0 15px; margin-top:30px;}

    .highlight_section .left_col,
    .highlight_section .right_col{max-width: 100%; flex: 0 0 100%;}
    .highlight_section .left_col img{width:100%}
    .highlight_section .right_col{position:relative; z-index: 9; margin-top: 40px;}
    .highlight_section .sub_heading {color:#fff!important;}
    .highlight_section .sub_heading.left:before{background:#fff;}

    .price_section .right_col{margin-top:40px;}
    .price_section .price_lists{width:100%;}

    .floorPlan_section .fp_col:nth-child(2), .floorPlan_section .fp_col:nth-child(4), .floorPlan_section .fp_col:nth-child(6), .floorPlan_section .fp_col:nth-child(8), .floorPlan_section .fp_col:nth-child(10){transform: translateY(50px)}

    .floorPlan_section .fp_col:nth-child(3), .floorPlan_section .fp_col:nth-child(5), .floorPlan_section .fp_col:nth-child(7), .floorPlan_section .fp_col:nth-child(9){transform: translateY(25px)}

    .floorPlan_section .fp_col{margin-bottom: 60px;}

    .location_section .sub_heading{color:#fff!important;}
    .location_section .sub_heading:before{background:#fff;}
    .location_section .heading{color:#fff;}
    .location_section:before{width:100%;}
    .location_section .left_col{max-width: 100%; flex: 0 0 100%; order:2;}
    .location_section .right_col{max-width: 100%; flex: 0 0 100%; order:1; padding:0 15px;}
    .location_section .left_col{margin-top:40px; padding:0 15px;}

    .footer_top{margin-top: 20px;}
    .footer_top .left_col{padding-bottom: 60px;}
    .footer_top .right_col{padding-top: 30px; padding-bottom: 30px;}
    .footer_top .heading{font-size:30px;}
    .footer_top .builderContent{padding:20px;}
    .footer_top .builderImage{top: -30px;}

}

/* end of 991px */

@media(max-width:767px){
    .d_sm_block{display:block!important;}
    .d_sm_flex{display:flex!important;}
    .d_sm_none{display:none!important;}

    .btn{padding: 12px 20px;}

    .banner-section{min-height:unset;}
    .banner-section:before{width: 100%; background: #eef4ff;}
    .banner-section .left_col,
    .banner-section .right_col{padding-left: 15px; padding-right: 15px;}
    .banner-section .right_col .top{flex-wrap: wrap; padding: 40px 0;}
    .banner-section .top .contents{width:100%; padding-left: 20px; padding-right: 20px;}
    /* .banner-section .call_number{justify-content: center;} */
    .banner-section .form_col{padding: 0 20px; margin-top: 30px; width: 100%;}
    .banner-section .form_col .form{max-width:100%; background: #fff;}
    .banner-section .form_col .form_heading{font-size:24px;}
    .banner-section .add li{font-size: 16px;}
    .banner-section .carousel-item img{height:auto; object-fit: unset;}

    .banner-section .contents .project_logo{max-width: 150px;}
    .banner-section .project_name{font-size: 40px;}
    .banner-section .typo{font-size: 22px}
    .banner-section .price{font-size: 40px; line-height:50px;}
    .banner-section .call_number .icon{height: 60px; width: 60px;}
    .banner-section .call_number .icon img{max-width: 30px;}
    .banner-section .call_number .number{font-size: 22px; background:#fff;}

    .banner-section .bottom{padding:20px;}
    .banner-section .other-points{justify-content: space-between;}
    .banner-section .other-points li:not(:last-child){margin:0;}
    .banner-section .other-points li{max-width:calc(50% - 15px); flex:0 0 calc(50% - 15px);}
    .banner-section .other-points p{font-size:20px;}

    /* .footer_top */

    .footer_top{margin-top:0;}
    .footer_top .left_col,
    .footer_top .right_col{position:relative;}
    .footer_top .left_col{padding:40px 20px;}
    .footer_top .builderImage{width:100%; top: 0;}
    .footer_top .builderContent{padding: 40px;}
    .footer_top .builderContent p{margin:0;}
    .footer_top .dark_bg{width:100%;}
    
    footer{padding-bottom: 40px;}

    #back_to_top{bottom: 50px; right: 20px;}    


}

/* end of 767px */

@media(max-width:575px){
    .heading{font-size: 34px; margin-bottom: 25px;}
    .btn{padding: 10px 15px;}
    p{font-size:14px;}
    
    .navbar{padding: 10px 15px;}
    .navbar .navbar-brand{max-width: 91px;}
    .navbar .navbar-collapse{padding:30px;}
    .navbar .navbar-collapse .navbar-nav{height: calc(100vh - 210px);}
    
    .banner-section{padding-top: 55px;}
    .banner-section .carousel_btns button{height: 45px; width: 55px;}
    .banner-section .carousel_btns img{max-width: 20px;}
    .banner-section .right_col .top{padding: 30px 0;}
    .banner-section .contents .project_logo {max-width: 178px;}
    .banner-section .project_name{font-size: 30px;}
    .banner-section .typo{font-size: 18px;}
    .banner-section .price{font-size: 24px; line-height: 36px;}
    .banner-section .call_number .icon{height: 50px; width: 50px;}
    .banner-section .call_number .icon img{max-width: 26px;}
    .banner-section .call_number .number{font-size: 18px;}
    .banner-section .form_col .form{padding: 30px;}
    .banner-section .form [type=submit]{height: 46px;}

    .banner-section .other-points{flex-wrap: wrap;}
    .banner-section .other-points li{max-width:100%; flex:0 0 100%;}
    .banner-section .other-points li:not(:last-child){margin-bottom:20px; position:relative;}
    .banner-section .other-points li:not(:last-child):before{position:absolute; content:''; height:1px; width:100%; background:rgba(255 255 255 / 20%); bottom:-10px; left:0;}
    .banner-section .other-points .title{font-size: 14px;}
    .banner-section .other-points p{font-size: 18px;}
    .banner-section .other-points .icon{height: 50px; width: 50px;}
    .banner-section .other-points .icon img{max-width: 22px;}

    .overview-section, .highlight_section, .price_section, .floorPlan_section .left_col, .location_section, .gallery_section{padding:60px 0;}

    .overview-section .otherImages{display:none;}

    .highlight_section .sub_heading{color: #000!important;}
    .highlight_section .sub_heading.left:before{background:#000;}
    .highlight_section .right_col .singleCol{max-width: 100%;flex: 0 0 100%;}
    .highlight_section .single{padding:15px;}

    .price_section .amenities{margin-bottom: 30px;}
    .price_section .amenities li{max-width: 50%; flex: 0 0 50%;}

    .price_section .price_lists li{height: 170px;}
    .price_section .price_lists .cont{padding: 20px 20px 20px 70px;}
    .price_section .price_lists .price{font-size: 24px;}
    .price_section .price_lists .typo{font-size: 16px; line-height: 20px;}
    .price_section .price_lists .btn{line-height: 10px;}

    .floorPlan_section .fp_col{ transform: unset !important;}

    .location_section .left_col{margin-top: 30px;}
    .location_section .adv-points .icon{height: 55px; width: 55px; margin-right:10px;}
    .location_section .adv-points img{max-width: 25px;}
    .location_section .adv-points p{width: calc(100% - 65px); font-size: 14px;}
    .location_section .adv-points li{padding: 15px 0;}

    .masonry{columns: 1;}
    .masonry .heading{margin-bottom:20px;}
    .masonry .grid{margin-bottom: 20px;}
    .masonry .grid img{border-radius: 5px; border: 5px solid rgba(0 0 0 / 10%);}

    .footer_top .builderContent{padding: 30px;}
    .footer_top button[type=submit]{height: 42px;}
    .footer_top .form-group label{font-size:13px; margin-bottom:3px; font-weight: 400;}
    .footer_top .form-group{margin-bottom:10px;}
    footer p{font-size:12px;}
    footer{margin-top:0; padding:10px 0 40px;}

    #back_to_top{width: 35px; height: 35px;}
    #back_to_top img{max-width: 25px;}

    .modal-body{padding: 20px;}
    .modal-body .logo{max-width: 130px;}
    .modal-body .typo{font-size: 16px;}
    .modal-body .price{font-size: 28px;}
    .modal-body .form_heading{font-size: 20px;}
img.img-fluid.paymentplan_img {
    position: absolute;
    top: -15%;
    width: 37%;
    right: 16px;
}
    

}

/* end of 575px */

